.signup {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #263043;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    text-align: center;
    color: white;
  }
  
  .signup h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .signup form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signup input {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    outline: none;
  }

  .signup select {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    outline: none;
  }
  
  .signup input:focus {
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  }
  
  .signup button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup button:hover {
    background-color: #45a049;
  }
  
  .signup a {
    color: #4caf50;
    text-decoration: none;
  }
  
  .signup a:hover {
    text-decoration: underline;
  }
  