/* src/Profile.css */

.profile {
  width: 100%;
  max-width: 60%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #263043;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  text-align: center;
  color: white;
}

.profile h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.profile form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile input {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.profile select {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.profile input:focus {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.profile button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile button:hover {
  background-color: #45a049;
}

.profile a {
  color: #4caf50;
  text-decoration: none;
}

.profile a:hover {
  text-decoration: underline;
}
